on:
  push:
    branches: [main]
  pull_request:

name: Continuous integration

jobs:
  ci-linux:
    runs-on: ubuntu-20.04
    continue-on-error: ${{ matrix.experimental || false }}
    strategy:
      matrix:
        rust: [nightly, stable]
        crate: [d1-pac, r528-pac, xr806-pac]

        include:
          # Nightly is only for reference and allowed to fail
          - rust: nightly
            experimental: true
          - crate: d1-pac
            target: riscv64imac-unknown-none-elf
          - crate: r528-pac
            target: armv7a-none-eabi
          - crate: xr806-pac
            target: thumbv8m.main-none-eabi

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Install Rust targets
        run: rustup target add --toolchain=${{ matrix.rust }} ${{ matrix.target }}
      - name: Build crate
        run: cargo build --package ${{ matrix.crate }} --target ${{ matrix.target }}

  # On macOS and Windows, we at least make sure that the crate builds and links.
  build-other:
    strategy:
      matrix:
        os:
          - macOS-latest
          - windows-latest
        crate: [d1-pac, r528-pac, xr806-pac]

        include:
          - crate: d1-pac
            target: riscv64imac-unknown-none-elf
          - crate: r528-pac
            target: armv7a-none-eabi
          - crate: xr806-pac
            target: thumbv8m.main-none-eabi

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Install Rust targets
        run: rustup target add ${{ matrix.target }}
      - name: Build crate
        run: cargo build --package ${{ matrix.crate }} --target ${{ matrix.target }}
