on:
  push:
    branches: [main]
  pull_request:

name: Code formatting check

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Check fmt
        run: cargo fmt --all --check
